*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
    background: url(./wallpaper.jpg);
   
   overflow: hidden;
   position: relative;
   font-family: 'Poppins', sans-serif;
}

.container{
    background: rgba(255, 255, 255, 0.562);
    width: 530px;
    height: 400px;
    position: absolute;
    border-radius: 10px;
    left:0rem;
    top: 10rem;   
    position: relative;
}

.title{
    position: absolute;
    top: 45px;
    left:180px;
    
}

#box{
  position: absolute;
  justify-content: center;
  top: 100px;
  right: 24px;
  position: relative;
}

#getamount{
    position: relative;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    border-bottom: 2px solid green;
    padding: 3px;
    margin-top: 40px;
    margin-left: 52px;

}

#convertedamount{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    padding: 3px;
    margin-left: 52px;
    margin-top: 50px;
    border-bottom: 2px solid green;
}

.sec1{
    position: absolute; 
    left: 50px;
    display: flex;
    
}

.sec2{
    position: absolute;
    left: 50px;
    display: flex;
    top: 70px;
   
}

.sec3 a{
    position: absolute;
    padding: 3px;
    border-radius: 3px;
    background: rgba(27, 95, 63, 0.281);
    width: 100px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    bottom: -230px;
    left: 200px;
    text-align: center;
}

#options_1{
    position: absolute;
    margin-left: 40px;
    padding: 3px;
    margin-top: 40px;
    border-radius: 3px;
    background: rgba(27, 95, 63, 0.281);
    width: 100px;
}

#options_2{
    position: absolute;
    margin-left: 40px;
    padding: 3px;
    margin-top: 50px;
    border-radius: 3px;
    background: rgba(27, 95, 63, 0.281);
    width: 100px;
}





